nav a:nth-child(1), nav a:nth-child(2){
	display:none;
	}
.clear{
	clear:both;
}

@font-face {
  font-family: "bariol";
  font-style: normal;
  font-weight: normal;
  src: url("bariol_regular.eot?#iefix") format("embedded-opentype"), url("bariol_regular.woff") format("woff"), url("bariol_regular.ttf") format("truetype"), url("bariol_regular.svg#bariol_regular") format("svg");
}

@font-face {
  font-family: "ballpark";
  src: url('ballw___-webfont.eot');
    src: url('ballw___-webfont.eot?#iefix') format('embedded-opentype'),
         url('ballw___-webfont.woff') format('woff'),
         url('ballw___-webfont.ttf') format('truetype'),
         url('ballw___-webfont.svg#ballparkweiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "amerika";
  src: url('amerika_-webfont.eot');
    src: url('amerika_-webfont.eot?#iefix') format('embedded-opentype'),
         url('amerika_-webfont.woff') format('woff'),
         url('amerika_-webfont.ttf') format('truetype'),
         url('amerika_-webfont.svg#amerikaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Nyala";
  font-style: normal;
  font-weight: normal;
  src: url("NYALA.TTF") format("truetype");
}


body, h1, h2, h3, h4, h5{
	margin:0;
}

body p{
	font-size:18px;
	}

body{
	background:#8BAFFF;
	
}
a, img{
	border:none;
	}

header{
	background:black;
}

.center{
	margin:0 auto;
	padding:0 15px;
	max-width:1200px;
	}
	
#creations .center{
	padding-left:0;
	padding-bottom:1%;
	}
	
#creations .center, #tripanel .center{
	min-width:985px;
	}

nav a{
	color: #DD152D;
    font: 23px amerika,arial,sans-serif;
    text-decoration: none;
	}

nav a:hover {
    color: white;
    transition: linear .5s;
}

nav a:nth-child(1) {
    left: 21px;
    position: relative;
    top: 18px;
}

nav a:nth-child(2) {
    left: 26px;
    position: relative;
    top: 41px;
}

nav a:nth-child(3) {
    position: relative;
    top: 8px;
}

#social{
	margin-left:20px;
	}
#social a:nth-child(1) {
    left: 16px;
    position: relative;
    top: 8px;
}

#social a:nth-child(2) {
    left: 6px;
    position: relative;
    top: 28px;
}


#social a:nth-child(3) {
    position: relative;
    top: 19px;
}

#biglogo{
	margin-top:10px;
}
	
nav, #social{
	display:block;
	float:right;
}

#main{
	//background:url("images/bigTooth.png") no-repeat scroll 150px 0, 
	height:700px;
background: #9bbbff; /* Old browsers */
background:-moz-linear-gradient(top,  #9bbbff 0%, #5186ff 19%, #000000 26%, #000000 42%, #5186ff 49%, #8cb0ff 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bbbff), color-stop(19%,#5186ff), color-stop(26%,#000000), color-stop(42%,#000000), color-stop(49%,#5186ff), color-stop(100%,#8cb0ff)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,  #9bbbff 0%,#5186ff 19%,#000000 26%,#000000 42%,#5186ff 49%,#8cb0ff 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,  #9bbbff 0%,#5186ff 19%,#000000 26%,#000000 42%,#5186ff 49%,#8cb0ff 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top,  #9bbbff 0%,#5186ff 19%,#000000 26%,#000000 42%,#5186ff 49%,#8cb0ff 100%); /* IE10+ */
background:linear-gradient(to bottom,  #9bbbff 0%,#5186ff 19%,#000000 26%,#000000 42%,#5186ff 49%,#8cb0ff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bbbff', endColorstr='#8cb0ff',GradientType=0 ); /* IE6-9 */
}

#tooth{
	max-width:1249px;
	margin:0 auto;
	background:url("images/bigTooth.png") no-repeat scroll 425px -165px;
	}
	
#spiel{
	left: 100px;
    position: relative;
    top: 8px;
    width: 600px;
}

#spiel h1, #contact h1{
	 background: url("images/gearicon.png") no-repeat scroll left center transparent;
    font-size: 50px;
    height: 68px;
    padding-left: 32px;
    padding-top: 20px;
	}
	
#spiel li{
	list-style-image:url("images/bullet.png");
	font: 36px 'ballpark', serif;
	color:white;
}
#spiel p{
	font-size:35px;
	margin:-10px 0 0 0;
	}
	
#spiel ul{
	margin:25px 0;
	}
	
.ballpark{
    font-family: 'ballpark', serif;
	color: #DD152D;
	text-shadow: -3px 0 white;
	}
	
.amerika{
	font-family:amerika, sans-serif;
	}
.block{
	margin-left:80px;
}

.ctaButton1, .ctaButton2{
	background: url("images/ctaButton.png") no-repeat scroll 0 0 transparent;
    color: white;
    display: block;
    font-size: 1.6em;
    height: 50px;
    padding-left: 20px;
    padding-top: 17px;
    text-decoration: none;
    width: 265px;
	text-shadow: -1px -1px 1px #333
	}
	
#tripanel{
	margin-top:70px;
}

.panel{
	background: none repeat scroll 0 0 white;
    border-radius: 9px 9px 9px 9px;
    margin-left: 2%;
    padding: 17px;
    width: 28%;
	float:left;
}

.panel h1{
	font:25px bariol, arial, sans-serif;
	margin-top:-8px;
	}

.panel p{
	font-family:nyala, serif;
	}
#panel1{
	margin-left:0;
	}
	
#panel1 h1{
	margin-left:-18px;
	}
	
#panel1 h1:before{
	content: url("images/bomb.png");
    float: left;
    margin: -26px 0;
}
#panel2 h1:before{
	content: url("images/iphone.png");
    float: left;
    margin: -26px 0;
}
#panel3 h1:before{
	content: url("images/rocket.png");
    float: left;
    margin: -26px 0;
}
#creations{
	clear:both;
	background:black;
	margin-top:30px;
}
#creations h1{
	background: url("images/whitegear.png") no-repeat scroll 0 0 transparent;
    font-size: 45px;
    margin-left: -10px;
    padding: 24px 0 20px 20px;
}

#creations img{
	margin-right:2.2%;
}
#creations a:last-child img{
	margin-right:0;
	}
	
#examples{
	margin:0 auto;
	width:985px;
	}
footer{
	background:#8BAFFF;
}

footer a, footer p{
	font-family:bariol, arial, sans-serif;
	margin:0;
	}
	
#contact fieldset{
	width:500px;
	border:none;
}
#contact input, #contact textarea{
	display:block;
	margin-bottom:20px;
}

#contact textarea{
	width:100%;
}


#contact, #contact body, #contact #wrapper{
	height:100%;
	}
	
#contact #main, #contact #tooth{
	height:88%;
	}
.ctaButton2{
	display:none;
	}
	
#contact p, #contact fieldset{
	width:40%;
	min-width:400px;
	}
	
#contact p{
	background:white;
	border-radius:8px;
	padding:10px;
	}
@media only screen and (max-width: 1045px){
	#main{
		background-position:0 -47px;
		}
	
	#creations .center, #tripanel .center{
		min-width:100px;
		}
		
	.panel{
		display:block;
		min-width:0;
		width:auto;
		}
		
	#spiel{
		left:50px;
		}
	
	#tooth{
		background:url("images/bigTooth.png") no-repeat scroll 100% 11% / 55% auto transparent;
		}
	#panel1, #panel2{
		display: inline-block;
		max-width: 44.5%;
		}
	
	#panel3{
		margin: 20px 0 0 0;
		max-width:800px;
		}
	#tripanel .center{
		max-width:800px;
		margin-left:auto;
		}
	#tooth > .center:first-child{
		max-width:800px;
		}
	#creations a:last-child img{
		display:none;
		}
	#examples{
		width:800px;
		}
	#creations .center{
		margin:0 auto;
		width:800px;
		}
	#creations img{
		margin-right: 5%;
		}
}

@media only screen and (max-width: 865px) {
	
	nav a{
		display:block;
		position:static  !important;
		font-size:18px;
		text-align:right;
		}
	#panel1, #panel2{
		max-width:44.1%;
		}

	#tripanel .center{
		padding-right:0;
		margin-left:auto;
		max-width:700px;
		}
	#tooth{
		background: url("images/bigTooth.png") no-repeat scroll 110% 16% / 55% auto transparent;
		}
	#spiel{
		left:20px;
		}
	#examples{
		width:701px;
		}
	#creations .center{
		margin:0 auto;
		width:700px;
		}
	#creations img{
		margin-right: 1%;
		}
		
}

@media only screen and (max-width: 767px) {
	#main{
		padding-top:90px;
		background: #8cb0ff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #8cb0ff 0%, #5186ff 72%, #9bbbff 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#8cb0ff), color-stop(72%,#5186ff), color-stop(100%,#9bbbff)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #8cb0ff 0%,#5186ff 72%,#9bbbff 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #8cb0ff 0%,#5186ff 72%,#9bbbff 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #8cb0ff 0%,#5186ff 72%,#9bbbff 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #8cb0ff 0%,#5186ff 72%,#9bbbff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cb0ff', endColorstr='#9bbbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		}
	header {
		position:fixed;
		width:100%;
		z-index:100;
		}
	#biglogo{
		display:block;
		margin:0 auto;
		}
	#social{
		position:relative;
		top:10px;
		}

	#panel1, #panel2{
		max-width:none;
		}
	#panel2{
		margin:20px 0 0 0;
		}
	#tripanel .center{
		margin: 0 auto;
		max-width: 560px;
		padding-right: 20px;
		}
	#spiel{
		left:0;
		width:auto;
		}
	#tooth{
		background:none;
		}
	#examples{
		width:465px;
		}
	#creations .center{
		margin:0 auto;
		width:auto;
		max-width:700px;
		}
	#creations img{
		margin-right: 1%;
		}
	#creations a:last-child img{
		display:inherit;
		}
	.block p, .block ul{
		display:none;
		}
	nav {
		float:none;
		width:415px;
		padding-left:16px;
		margin:0 auto;
		}
	nav a{
		display:inline;
		font-size:22px;
		margin-right:20%;
		}
	nav a:nth-child(3){
		margin-right:0;
		}
	#biglogo{
		width:70%;
		max-width:415px;
		min-width:280px;
		}
	#social{
		background: none repeat scroll 0 0 black;
    border-radius: 20px 20px 20px 20px;
    margin-left: 0;
    padding-left: 2px;
    position: fixed;
    right: 0;
    width: 43px;
		}
	#social a:nth-child(1) {
		position:static;
	}
	#social a:nth-child(2) {
		position:static;
	}
	#social a:nth-child(3) {
		position:static;
	}
	.ctaButton1{
		display:none;
		}
	.ctaButton2{
		display:inherit;
		margin:20px auto;
		}
	#spiel h1{
		display:block;
		width:410px;
		margin:0 auto;
		}
	#main .center{
		width:480px;
		margin:0 auto;
		}
}

@media only screen and (max-width: 532px){
	#spiel h1{
		width:245px;
		}
	#main{
		padding-top:58px;
		}
	#tripanel .center{
		min-width:271px;
		}
	.panel h1{
		font-size:21.4px;
		}
	#examples{
		width:230px;
		}
	#social{
		position: fixed;
		right: 9%;
		width: 0;
	}
	#social img{
		width:20%;
		}
	.block{
		margin:0;
		}

	#tripanel{
		margin-top:12px;
		}
	#spiel h1, #contact h1{
		font-size:20px;
		color:white;
		font-family:amerika, sans-serif;
		padding-left:19px;
		padding-top:38px;
		text-shadow:none;
	}
	#contact fieldset, #contact p{
		min-width:255px;
		}
	#main .center{
		width:320px;
		}
	#social{
		display:none;
		}
}